*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    text-decoration: none;
    height: 100vh;
    width: 100%; 
}

/* CONTAINER */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 3%;
    background: #efefef;
}
.left-sidebar{
    /* background: #cbdffa; */
    flex-basis: 25%;
    position: sticky;
    margin-top: 30px;
    top: 60px;
    align-self: flex-start;
    
}
.right-sidebar{
    background: #fff;
    flex-basis: 25%;
    position: sticky;
    margin-top: 30px;
    top: 70px;
    align-self: flex-start;
    padding: 20px;
    border-radius: 8px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
    
}
.imp-links a , .shortcut-links a{
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}
.imp-links a i{
    width: 23px;
    font-size: 15px;
    margin-right: 5px;
    color: salmon;
}
.imp-links a:last-child{
    color: salmon;
}
.imp-links {
    border-bottom: 1px solid salmon;
}
.shortcut-links p {
    margin: 20px 0px;
    font-weight: 500;
    color: #626262;
}
.shortcut-links a img{
    width: 55px;
    height: 35px;
    border-radius: 5px;
    margin-right: 8px;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.sidebar-title h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: salmon;
    font-size: 14px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 55px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    /* color: #1876f2; */
    color: salmon;
}
.right-event i {
    color: red;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
    background: salmon;
}
.sidebar-img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.online-list{
    display: flex;
    align-items:center ;
    margin-bottom: 20px;

}
.online-list .online img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.online-list .online {
    margin-right: 15px;
}



/* .story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    ba
} */

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    margin-top: 30px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p {
    margin-bottom: -2px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}